node-red/.flows.json.backup
[{"id":"e31d3225.55f1e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26aad499.26d9bc","type":"server","z":"","name":"Home Assistant"},{"id":"c8963365.e1a7f","type":"server-state-changed","z":"e31d3225.55f1e","name":"Presence = Home","server":"26aad499.26d9bc","version":1,"entityidfilter":"input_select.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":220,"wires":[["57eee1d9.a9d73"],[]]},{"id":"57eee1d9.a9d73","type":"api-current-state","z":"e31d3225.55f1e","name":"Are we home?","server":"26aad499.26d9bc","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_devices","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":340,"y":220,"wires":[["7a11eccf.7edda4"],[]]},{"id":"4e454edc.e0b3a","type":"api-call-service","z":"e31d3225.55f1e","name":"Alert us","server":"26aad499.26d9bc","version":1,"service_domain":"notify","service":"notify","entityId":"","data":"{\"message\": \"Guest mode has been enabled by inference. Authorized entry detected.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":220,"wires":[[]]},{"id":"7a11eccf.7edda4","type":"api-call-service","z":"e31d3225.55f1e","name":"Enable guest mode","server":"26aad499.26d9bc","version":1,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.guests","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":220,"wires":[["4e454edc.e0b3a"]]}]