node-red/.flows.json.backup
[{"id":"e31d3225.55f1e","type":"tab","label":"Mode and Presence","disabled":false,"info":""},{"id":"2907aeea.ebfbf2","type":"tab","label":"Lighting","disabled":false,"info":""},{"id":"26aad499.26d9bc","type":"server","z":"","name":"Home Assistant"},{"id":"c8963365.e1a7f","type":"server-state-changed","z":"e31d3225.55f1e","name":"Presence = Home","server":"26aad499.26d9bc","version":1,"entityidfilter":"input_select.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":220,"wires":[["57eee1d9.a9d73"],[]]},{"id":"57eee1d9.a9d73","type":"api-current-state","z":"e31d3225.55f1e","name":"Are we home?","server":"26aad499.26d9bc","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_devices","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":340,"y":220,"wires":[["7a11eccf.7edda4"],[]]},{"id":"4e454edc.e0b3a","type":"api-call-service","z":"e31d3225.55f1e","name":"Alert us","server":"26aad499.26d9bc","version":1,"service_domain":"notify","service":"notify","entityId":"","data":"{\"message\": \"Authorized entry detected. Guest mode has been enabled by inference.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":220,"wires":[[]]},{"id":"7a11eccf.7edda4","type":"api-call-service","z":"e31d3225.55f1e","name":"Enable guest mode","server":"26aad499.26d9bc","version":1,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.guests","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":220,"wires":[["4e454edc.e0b3a"]]},{"id":"8405ab4e.97b178","type":"server-state-changed","z":"e31d3225.55f1e","name":"Come home","server":"26aad499.26d9bc","version":1,"entityidfilter":"group.all_devices","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":300,"wires":[["61e0afb6.7a191"],[]]},{"id":"61e0afb6.7a191","type":"api-current-state","z":"e31d3225.55f1e","name":"Is guest mode on?","server":"26aad499.26d9bc","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guests","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":300,"wires":[["210df920.329666"],[]]},{"id":"210df920.329666","type":"api-call-service","z":"e31d3225.55f1e","name":"Disable guest mode","server":"26aad499.26d9bc","version":1,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.guests","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":300,"wires":[["f20e81bd.70fa8"]]},{"id":"f20e81bd.70fa8","type":"api-call-service","z":"e31d3225.55f1e","name":"Alert us","server":"26aad499.26d9bc","version":1,"service_domain":"notify","service":"notify","entityId":"","data":"{\"message\": \"Guest mode has been automatically disabled.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":300,"wires":[[]]},{"id":"938be4a2.3abf68","type":"server-state-changed","z":"2907aeea.ebfbf2","name":"Family room TV on","server":"26aad499.26d9bc","version":1,"entityidfilter":"remote.family_room_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":130,"y":80,"wires":[["ef4306ec.b15f58"],[]]},{"id":"ef4306ec.b15f58","type":"api-call-service","z":"2907aeea.ebfbf2","name":"Turn off fireplace lights","server":"26aad499.26d9bc","version":1,"service_domain":"light","service":"turn_off","entityId":"light.family_room_fireplace_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":80,"wires":[[]]},{"id":"ce9cce1.353813","type":"server-state-changed","z":"2907aeea.ebfbf2","name":"Family room TV off","server":"26aad499.26d9bc","version":1,"entityidfilter":"remote.family_room_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":140,"wires":[["737e3522.359fbc"],[]]},{"id":"737e3522.359fbc","type":"api-current-state","z":"2907aeea.ebfbf2","name":"If mode==Evening","server":"26aad499.26d9bc","version":1,"outputs":2,"halt_if":"Evening","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":140,"wires":[["f8cedb0e.b96b58"],[]]},{"id":"f8cedb0e.b96b58","type":"api-call-service","z":"2907aeea.ebfbf2","name":"Turn on fireplace lights","server":"26aad499.26d9bc","version":1,"service_domain":"light","service":"turn_on","entityId":"light.family_room_fireplace_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":140,"wires":[[]]},{"id":"3fbd5db6.1c6952","type":"server-state-changed","z":"e31d3225.55f1e","name":"Garage entry hall","server":"26aad499.26d9bc","version":1,"entityidfilter":"binary_sensor.garage_entry_hall_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":620,"wires":[["2bb5320c.6fc0be"],["9225263d.9c4a38"]]},{"id":"b2b8e0fa.16187","type":"server-state-changed","z":"e31d3225.55f1e","name":"Foyer","server":"26aad499.26d9bc","version":1,"entityidfilter":"binary_sensor.foyer_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":660,"wires":[["2bb5320c.6fc0be"],["9225263d.9c4a38"]]},{"id":"447c9d43.3034f4","type":"server-state-changed","z":"e31d3225.55f1e","name":"Basement Hall","server":"26aad499.26d9bc","version":1,"entityidfilter":"binary_sensor.basement_hall_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":700,"wires":[["2bb5320c.6fc0be"],["9225263d.9c4a38"]]},{"id":"54eb6f80.047e2","type":"server-state-changed","z":"e31d3225.55f1e","name":"Kitchen","server":"26aad499.26d9bc","version":1,"entityidfilter":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"false","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":740,"wires":[["2bb5320c.6fc0be"],["9225263d.9c4a38"]]},{"id":"26030470.b3025c","type":"stoptimer","z":"e31d3225.55f1e","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"Wait 1 hour","x":570,"y":680,"wires":[["71908649.074508"],[]]},{"id":"2bb5320c.6fc0be","type":"api-current-state","z":"e31d3225.55f1e","name":"Is guest mode on?","server":"26aad499.26d9bc","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.guests","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":640,"wires":[["26030470.b3025c"],[]]},{"id":"9225263d.9c4a38","type":"change","z":"e31d3225.55f1e","name":"Stop timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":720,"wires":[["26030470.b3025c"]]},{"id":"71908649.074508","type":"api-call-service","z":"e31d3225.55f1e","name":"Disable guest mode","server":"26aad499.26d9bc","version":1,"service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.guests","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":680,"wires":[["faf3b4fb.fa7ac8"]]},{"id":"faf3b4fb.fa7ac8","type":"api-call-service","z":"e31d3225.55f1e","name":"Alert us","server":"26aad499.26d9bc","version":1,"service_domain":"notify","service":"notify","entityId":"","data":"{\"message\": \"No activity detected for 1 hour. Guest mode has been automatically disabled.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":680,"wires":[[]]},{"id":"45791908.ec7488","type":"server-state-changed","z":"e31d3225.55f1e","name":"Single garage","server":"26aad499.26d9bc","version":1,"entityidfilter":"binary_sensor.garage_single","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":400,"wires":[[],[]]}]