node-red/flows.json
[{"id":"e31d3225.55f1e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26aad499.26d9bc","type":"server","z":"","name":"Home Assistant"},{"id":"c8963365.e1a7f","type":"server-state-changed","z":"e31d3225.55f1e","name":"Presence = Home","server":"26aad499.26d9bc","version":1,"entityidfilter":"input_select.presence","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":220,"wires":[["57eee1d9.a9d73"],[]]},{"id":"57eee1d9.a9d73","type":"api-current-state","z":"e31d3225.55f1e","name":"Are we home?","server":"26aad499.26d9bc","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_devices","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":true,"x":340,"y":220,"wires":[["7a11eccf.7edda4"],[]]},{"id":"4e454edc.e0b3a","type":"api-call-service","z":"e31d3225.55f1e","name":"Alert us","server":"26aad499.26d9bc","version":1,"service_domain":"notify","service":"notify","entityId":"","data":"{\"message\": \"Guest mode has been enabled by inference. Authorized entry detected.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":220,"wires":[[]]},{"id":"7a11eccf.7edda4","type":"api-call-service","z":"e31d3225.55f1e","name":"Enable guest mode","server":"26aad499.26d9bc","version":1,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.guests","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":220,"wires":[["4e454edc.e0b3a"]]},{"id":"f0eb7a7a.a029a8","type":"server-state-changed","z":"e31d3225.55f1e","name":"Family room TV on","server":"26aad499.26d9bc","version":1,"entityidfilter":"remote.family_room_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":130,"y":380,"wires":[["8311a632.7a9d78"],[]]},{"id":"8311a632.7a9d78","type":"api-call-service","z":"e31d3225.55f1e","name":"Turn off fireplace lights","server":"26aad499.26d9bc","version":1,"service_domain":"light","service":"turn_off","entityId":"light.family_room_fireplace_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":380,"wires":[[]]},{"id":"26603e66.77cf02","type":"server-state-changed","z":"e31d3225.55f1e","name":"Family room TV off","server":"26aad499.26d9bc","version":1,"entityidfilter":"remote.family_room_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":440,"wires":[["18c3b95.812b147"],[]]},{"id":"18c3b95.812b147","type":"api-current-state","z":"e31d3225.55f1e","name":"If mode==Evening","server":"26aad499.26d9bc","version":1,"outputs":2,"halt_if":"Evening","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":440,"wires":[["d17b9b9c.ff1168"],[]]},{"id":"d17b9b9c.ff1168","type":"api-call-service","z":"e31d3225.55f1e","name":"Turn on fireplace lights","server":"26aad499.26d9bc","version":1,"service_domain":"light","service":"turn_on","entityId":"light.family_room_fireplace_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":440,"wires":[[]]}]